<% include ../partials/head %>
<h1><%=title%></h1>
<table class='table table-striped table-bordered'>
    <tr>
        <th>Lease IP</th>
        <th>Hardware address</th>
        <th>State</th>
        <th>Time out</th>
        <th>Owner</th>
    </tr>
    <% leases.forEach(function(lease) { %>
    <tr>
        <td><%= lease.lease_ip %></td>
        <td><%= lease.hw_addr %></td>
        <td><%= lease.state %></td>
        <td><%= lease.timeout %></td>
        <td><%= lease.owner %></td>
    </tr>
    <% }); %>

</table>
<% include ../partials/foot %>